<template>
<div class="bg">
    <div class="color green">
            <img :src="green" alt="test" />
    </div>
    <div class="mbt-about" id="About">
        
        <div class="mbt-container">
            <h2>{{ aboutMain }}</h2>
            <p>{{ aboutPara }}</p>
            <img :src="test">
        </div>
        <div class="row">
            <div v-for="(info, index) in infos" :key="index" class="column">
                <img :src="imageUrl[index]" alt="test" />
                <p><b>{{ info.para }}</b></p>
                <p>{{ info.desc }}</p>
            </div>
        </div>
    </div>
    <div class="color blue">
        <img :src="blue" alt="test" />
    </div>
    <div class="color red">
        <img :src="red" alt="test" />
    </div>
</div>
</template>

<script>
export default {
    data(){
        return {
            aboutMain:'',
            aboutPara:'',
            nextGenTV:'',
            leadingPlatform:'',
            mobileSass:'',
            infos:'',
            image:'',
            imageUrl:[],
            test: '',
            green:require('@/assets/Images/rectangle3.svg'),
            blue:require('@/assets/Images/rectangle2.svg'),
            red:require('@/assets/Images/rectangle1.svg')
            
        }
    },
    methods: {
        imgSet(image) {
            return image
        }
    },
    mounted(){
        this.aboutMain = window.config.about.title,
        this.aboutPara = window.config.about.about,

        this.infos = window.config.info,
        
        this.imageUrl[0] = require('@/assets/Images/Icon1.svg'),
        this.imageUrl[1] = require('@/assets/Images/Icon2.svg'),
        this.imageUrl[2] = require('@/assets/Images/Icon3.svg')
    }
}
</script>

<style scoped>
.bg {
    background-color:#F8FAFC;
    position: relative;
}
.mbt-about {
    max-width:1500px;
    margin:0 auto;
    padding-top:50px;
    position:relative;
}
.color {
    position:absolute;
    width:10%;
    max-width:200px;
}
.color img {
    width:100%;
}
.row img {
    width: unset;
}
.mbt-container {
    width:77%;
    margin:0 auto;
    text-align: center;
}
.mbt-container p{
    font-size:16px;
    line-height:25px;
    letter-spacing: 1px;
}
.column p {
    font-size:13px;
    line-height:25px;
    letter-spacing: 0.5px;
    margin:3% 20%;
}
.row {
    width:80%;
    margin:0 auto;
    padding:50px 0px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (min-width:320px){
    .column {
        float:none;
    }
    .green {
        top:14%;
    }
    .blue {
        right:0%;
        top:14%;
    }
    .red {
        right:0%;
        top:16%;
    }
}
@media only screen and (min-width:768px){
    .column {
        float:none;
    }
    .green {
        top:14%;
    }
    .blue {
        right:0%;
        top:14%;
    }
    .red {
        right:0%;
        top:16%;
    }
}
@media only screen and (min-width:1024px){
    .column {
        float: left;
        width:33.33%;
    }
    .green {
        top:14%;
    }
    .blue {
        right:0%;
        top:14%;
    }
    .red {
        right:0%;
        top:16%;
    }
}

@media only screen and (min-width:1200px){
    .column {
        float: left;
        width:33.33%;
    }
    .green {
        top:14%;
    }
    .blue {
        right:0%;
        top:14%;
    }
    .red {
        right:0%;
        top:16%;
    }
}
</style>
