<template>
    <div class="body">
        <About></About>
        <ProductsSlider></ProductsSlider>
        <RequestDemo></RequestDemo>
        <Clients></Clients> 
        <Quote></Quote>
        <Partner></Partner>
        <Team></Team>
        <Contact></Contact>
    </div>
</template>

<script>
// import About from './About.vue'
// import ProductsSlider from './ProductsSlider.vue'
// import Clients from './Clients.vue'
// import Partner from './Partner.vue'
// import Quote from './Quote.vue'
// import RequestDemo from './RequestDemo.vue'
// import Team from './Team.vue'
// import Contact from './Contact.vue'

export default {
    data(){
        return {

        }
    },
    components: {
        'About': () => import('./About.vue'),
        'ProductsSlider': () => import('./ProductsSlider.vue'),
        'Clients': () => import('./Clients.vue'),
        'Quote': () => import('./Quote.vue'),
        'Partner': () => import('./Partner.vue'),
        'RequestDemo': () => import('./RequestDemo.vue'),
        'Team': () => import('./Team.vue'),
        'Contact': () => import('./Contact.vue'),
    },
    created(){
    
    }
}
</script>

<style scoped>

</style>
