<template>
    <div class="mbt-clients" id="Clients">
        <div class="mbt-container">
            <div class="mbt-client-headings">
                <h2>{{ aboutMain }}</h2>
                <p>{{ aboutPara }}</p>
            </div>
            <div class="mbt-client-posters">
                <div v-for="(image, index) in images" :key="index" class="clients" id="altd">
                    <img :src="image.url" alt="test" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            aboutMain:'',
            aboutPara:'',
            images:[],
        }
    },
    created(){
        this.aboutMain = window.config.client.title,
        this.aboutPara = window.config.client.about
    },
    mounted(){
        this.images = [
            {url:require('@/assets/Images/alt-digital.svg')},
            {url:require('@/assets/Images/mytv.svg')},
            {url:require('@/assets/Images/fastfilmz.svg')},
            {url:require('@/assets/Images/nxt.svg')},
            {url:require('@/assets/Images/Group.svg')},
            {url:require('@/assets/Images/MM.svg')}
        ]
    }
}
</script>

<style scoped>
.mbt-clients{
    background-color: #F8FAFC;
    padding-top:50px;
}
.mbt-client-headings {
    width:80%;
    margin:0 auto;
    max-width:1500px;
    text-align: center;
}
.mbt-client-posters{
    width:80%;
    margin:0 auto;
    max-width:1500px;
    padding:50px 0;
}
.mbt-client-posters::after {
    content:'';
    display:table;
    clear:both;
}
p {
    font-size:16px;
    letter-spacing: 1px;
    line-height:25px;
}
.clients img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .clients {
        float:none;
        width:45%;
        margin:0 auto;
    }
}
@media only screen and (min-width: 768px){
    .mbt-client-posters{
        display: -webkit-box;
    }
    .clients {
        width:14%;
        margin:0 1.65%;
    }
    #altd:nth-child(1) {
        margin-left:0px;
    }
}
@media only screen and (min-width: 1024px){
    .mbt-client-posters{
        display: -webkit-box;
    }
    .clients {
        width:14%;
        margin:0 1.65%;
    }
    #altd:nth-child(1) {
        margin-left:0px;
    }
}
@media only screen and (min-width: 1200px){
    .mbt-client-posters{
        display: -webkit-box;
    }
    .clients {
        width:12%;
        margin:0 2.7%;
    }
    #altd:nth-child(1) {
        margin-left:0px;
    }
}

</style>
