<template>
<div class="bg">
    <div class="contact" id="contact">
        <div class="para">
            <h2>{{ heading }}</h2>
            <p>{{ about }}</p>
        </div>
        <div class="container">
            <div class="column mbt-location">
                <div class="map">
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9747699695577!2d77.63817134977712!3d12.909343090852044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae148e48bbe67b%3A0x8643cdc794956a97!2sMobiotics!5e0!3m2!1sen!2sin!4v1565199580818!5m2!1sen!2sin" width="500" height="350" frameborder="0" title="Location In Map" style="border:0" allowfullscreen></iframe></p>
                </div>
            </div>
            <div class="column mbt-form">
                <div class="style-form">
                    <form id="valid" method="POST" @submit.prevent="submitContact">
                        <div class="entry">
                            <label for="name">Name</label><br>
                            <input type="text" name="yourname" v-model="name" id="bordername" placeholder="Your Name"><br>
                            <div v-if="errorsnames.length" class="errors">
                                <div v-for="errorsname in errorsnames" :key="errorsname" class="error">{{ errorsname }}</div>
                            </div>
                        </div>
                        <div class="entry">
                            <label for="Email">Email</label><br>
                            <input type="text" name="youremail" v-model="email" id="borderemail" placeholder="Your Email"><br>
                            <div v-if="errorsmails.length" class="errors">
                                <div v-for="errorsmail in errorsmails" :key="errorsmail" class="error">{{ errorsmail }}</div>
                            </div>
                        </div>
                        <div class="entry">
                            <label for="number">Mobile</label><br>
                            <input type="text" name="mobile" v-model="mobile" id="bordermobile" placeholder="Mobile"><br>
                            <div v-if="errorsmobiles.length" class="errors">
                                <div v-for="errorsmobile in errorsmobiles" :key="errorsmobile" class="error">{{ errorsmobile }}</div>
                            </div>
                        </div>
                        <div class="entry">
                            <label for="message">Message</label><br>
                            <textarea rows="4" columns="50" style="resize: none;" id="bordermessage" v-model="message" placeholder="Your Message"></textarea><br>
                            <div v-if="errorsmessages.length" class="errors">
                                <div v-for="errorsmessage in errorsmessages" :key="errorsmessage" class="error">{{ errorsmessage }}</div>
                            </div>
                        </div>
                            <button class="button">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import utility  from '../Mixins/Validate.js'
import action from '../Mixins/action.js'
import { eventBus } from '@/main'

export default {
    data(){
        return {
            heading:'',
            about:'',
            errorsnames:[],
            errorsmobiles:[],
            errorsmails:[],
            errorsmessages:[],
            hide:true,
            name: null,
            email: null,
            mobile: null,
            message: null,
        }
    },
    created(){
        this.heading = window.config.contact.title,
        this.about = window.config.contact.about
    },
    methods: {
        submitContact () {
            if (!(this.validatename() && this.validatemail() && this.validatemobile() && this.validatemessage())) return;
            console.log((!this.validatename() && !this.validatemail() && !this.validatemobile() && !this.validatemessage()) );
            this.contactForm()
            setTimeout(() => {
                    eventBus.$emit('success-message', true)
            }, 500)
            setTimeout(() => {
                eventBus.$emit('success-message', false)
                }, 6000)
        }
    },
    mixins: [utility,action]
}
</script>

<style scoped>
.bg {
    background-color: #F8FAFC;
}
.contact {
    padding-top:50px;
    padding-bottom:120px;
    max-width:1500px;
    margin:0 auto;
    width:80%;
}
.mbt-form {
    position: relative;
}
.para {
    margin:0 auto;
    text-align: center;
}
.errors {
    position:relative;
}
.error {
    color: red;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position: absolute;
}
.entry {
    padding-bottom:20px;
}

.para p {
    font-size:16px;
    letter-spacing: 1px;
    line-height:25px;
}
#alerts {
    padding-inline-start: 21px;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
}
#items {
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 23px; 
    line-height: 20px;
}
li::before {
  content: "-"; 
  padding-right: 8px;
  color: black; 
}
.container {
    margin:0 auto;
    padding-top:50px;
    position:relative;
}
.container::after {
    content:'';
    display:table;
    clear: both;
}
.style-form {
    background-color:white;
    margin-left:37%;
    padding-bottom: 14px;
    padding-top:14px;
    border-radius:4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.mbt-location {
    max-width:600px;
}
input {
    width:77%;
    border-radius: 4px;
    border: 1px solid gray;
    font-size:11px;
    margin-left: 23px;
    margin-top:3px;
}
input:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
.map {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea {
    width:77%;
    margin-left: 23px;
    margin-top:3px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px 10px;
    font-size:12px;
    color: #4A4A4A;
    height:71px;
}
textarea:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
input[type=text] {
    padding: 10px;
    color: #4A4A4A;
    letter-spacing: 1px;
}
input[type=number] {
    padding: 10px;
    color: #4A4A4A;
}
label {
    padding-inline-start: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
    font-weight:600;
    color:#0a0a0a;
}
button {
    margin-left: 23px;
    width: 84%;
    padding: 8px;
    background-color: #2e8ae6;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    border:1px solid #2e8ae6;
}
.button:hover {
    background-color:#4875cf;
}
/* button:active {
    outline: none;
    border: none;
} */
button:focus {
    outline:0;
}
@media only screen and (min-width:320px){
    .contact {
        padding-bottom:80px;
    }
    .column {
        width:100%;
        float: none;
        margin:0%;
    }
    iframe {
        width:100%;
        height:250px;
    }
    .mbt-form {
        padding-top: 30px;
        position: unset;
    }
    .style-form {
        width:95%;
        margin:0 auto;
        position:unset;
        right:0%;
    }
    input, textarea, button {
        margin-left: 17px;
    }
    label {
        padding-inline-start: 18px;
    }
    button {
        width:86%;
    }
    .error {
        padding-left: 17px;
    }
}
@media only screen and (min-width:360px){
    .contact {
        padding-bottom:80px;
    }
    .column {
        width:100%;
        float: none;
        margin:0%;
    }
    iframe {
        width:100%;
        height:250px;
    }
    .mbt-form {
        padding-top: 30px;
        position: unset;
    }
    .style-form {
        width:95%;
        margin:0 auto;
        position:unset;
        right:0%;
    }
    input, textarea, button {
        margin-left: 23px;
    }
    label {
        padding-inline-start: 24px;
    }
    button {
        width:85%;
    }
    .error {
        padding-left: 23px;
    }
}
@media only screen and (min-width:768px){
    .contact {
        padding-bottom:80px;
    }
    .column {
        width:73%;
        float: none;
        margin:0 auto;
    }
    iframe {
        width:100%;
        height:320px;
    }
    .mbt-form {
        padding-top: 30px;
        position: unset;
    }
    .style-form {
        width:75%;
        margin:0 auto;
        position:unset;
        right:0%;
    }
    input, textarea, button {
        margin-left: 26px;
    }
    label {
        padding-inline-start: 27px;
    }
    button {
        width:84%;
    }
    .error {
        padding-left: 26px;
    }
}
@media only screen and (min-width:1024px){
    .contact {
        padding-bottom:120px;
    }
    .column {
        width:50%;
        float: left;
        margin-left: 0%;
    }
    iframe {
        width:100%;
        height:320px;
    }
    .mbt-form {
        padding-top: 13px;
        position: absolute;
        right:1%;
    }
    .style-form {
        width:70%;
        margin-left: 37%;
        position:absolute;
        right:2%;
    }
    input, textarea, button {
        margin-left: 23px;
    }
    label {
        padding-inline-start: 24px;
    }
    button {
        width:85%;
    }
    .error {
        padding-left: 23px;
    }
}
@media only screen and (min-width:1200px){
    .contact {
        padding-bottom:80px;
    }
    .column {
        width:50%;
        float: left;
        margin: 0%;
    }
    iframe {
        width:100%;
        height:350px;
    }
    .mbt-form {
        padding-top: 0px;
        position: absolute;
        right: 1%;
    }
    .style-form {
        width:315px;
        margin-left:37%;
        position:absolute;
        right:1%;
    }
    input, textarea, button {
        margin-left: 23px;
    }
    label {
        padding-inline-start: 24px;
    }
    button {
        width:84.5%;
    }
    .error {
        padding-left: 23px;
    }
}
</style>
