<template>
    <div class="mbt-partners" id="Partners">
        <div class="mbt-container">
            <div class="mbt-partners-headings">
                <h2>{{ aboutMain }}</h2>
                <p>{{ aboutPara }}</p>
            </div>
            <div class="mbt-partners-posters">
                <div v-for="(image, index) in images" :key="index" class="partners" id="wide">
                    <img :src="image.url" alt="test" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            aboutMain:'',
            aboutPara:'',
            images:[],
        }
    },
    created(){
        this.aboutMain = window.config.partner.title,
        this.aboutPara = window.config.partner.about
    },
    mounted(){
        this.images = [
            {url:require('@/assets/Images/widewine.png')},
            {url:require('@/assets/Images/amazon.png')},
            {url:require('@/assets/Images/MM.png')},
            {url:require('@/assets/Images/Group.png')},
            {url:require('@/assets/Images/MA.png')},
            {url:require('@/assets/Images/Artboard.png')}
        ]
    }
}
</script>

<style scoped>
.mbt-partners{
    background-color: #F8FAFC;
    padding-top:50px;
}
.mbt-partners-headings {
    width:80%;
    margin:0 auto;
    text-align: center;
    max-width:1500px;
}
.mbt-partners-posters {
    width:80%;
    margin:0 auto;
    padding:50px 0;
    max-width:1500px;
}
.mbt-partners-posters::after {
    content:'';
    display:table;
    clear:both;
}
p {
    font-size:16px;
    letter-spacing: 1px;
    line-height:25px;
}
.partners img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .partners {
        float:none;
        width:45%;
        margin:0 auto;
    }
}
@media only screen and (min-width: 768px){
    .mbt-partners-posters{
        display: -webkit-box;
    }
    .partners {
        width:14%;
        margin:0 1.65%;
    }
    #wide:nth-child(1) {
        margin-left:0px;
    }
}
@media only screen and (min-width: 1024px){
    .mbt-partners-posters{
        display: -webkit-box;
    }
    .partners {
        width:14%;
        margin:0 1.65%;
    }
    #wide:nth-child(1) {
        margin-left:0px;
    }
}
@media only screen and (min-width: 1200px){
    .mbt-partners-posters{
        display: -webkit-box;
    }
    .partners {
        width:12%;
        margin:0 2.7%;
    }
    #wide:nth-child(1) {
        margin-left:0px;
    }
}
</style>
