<template>
    <div class="mbt-product-slider" id="Products">
        <div class="container">
            <h2>{{ heading }}</h2>
            <p>{{ about }}</p>
        </div>
        <carousel 
            :perPage="1" 
            :paginationEnabled="true"
            :paginationActiveColor="'#869791'"
            :paginationColor="'#d6d6d6'"
            :paginationSize="12"
            :loop="true" 
            :navigationEnabled="false"
            :autoplay="false" 
            :mouse-drag="true"
            :spacePadding="10">
            <slide v-for="(listItem, index) in listItems" :key="index" data-index="0"
            data-name="MySlideName"
            @slideclick="handleSlideClick">
            <div class="mbt-products">
                <div class="mbt-productlogo">
                    <img class="adjust" :src="logo[index]" alt="test"/>
                </div>
                <div class="vlive products">
                    <div class="column mbt-productlists">
                        <ul :id="index">
                            <li v-for="(data, i) in listItem" :key="i">{{ data }}</li>
                        </ul>
                    </div>
                    <div class="column mbt-productimage">
                        <img :src="mainProduct[index]" alt="test"/>
                    </div> 
                </div>           
            </div>
            </slide>
            <slide data-index="0"
            data-name="MySlideName"
            @slideclick="handleSlideClick">
            <div class="box">
                <div class="links join">
                    <div class="textbox">
                        <a @click="redirectProduct(name)">EXPLORE ALL<br>PRODUCTS</a>
                    </div>
                </div>
            </div>
            </slide>
        </carousel>
    </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
    data() {
        return {
            name:'PRODUCTS',
            heading:'',
            about:'',
            oranges:'',
            yellows:'',
            reds:'',
            logo:[],
            mainProduct:[],
            listItems: {},
            vlive:require("@/assets/Images/Vlive1.svg"),
            vapps:require("@/assets/Images/vappsnew.png"),
            vprem:require("@/assets/Images/Vpremierenew.svg")
        }
    },
    methods: {
      handleSlideClick(dataset){
        console.log(dataset.index, dataset.name)
      },
      redirectProduct(name){
          this.$router.push({name: name})
      }
     },
    components: {
        Carousel,
        Slide
    },
    created(){
        this.heading = window.config.productslider.title,
        this.about = window.config.productslider.about,

        this.oranges = window.config.products.orange,
        this.yellows = window.config.products.yellow,
        this.reds = window.config.products.red

        let colors = ["orange", "yellow", "red"]

        let dataset= window.config.Products.slice(0,3)
        

        for(let i = 0; i< colors.length; i++) {
            this.listItems[colors[i]] = dataset[i];
        }
        this.logo['orange'] = require("@/assets/Images/Vlive1.svg"),
        this.logo['yellow'] = require("@/assets/Images/vappsnew.png"),
        this.logo['red'] = require("@/assets/Images/CompVpremierenewlogo.png"),

        this.mainProduct['orange'] = require("@/assets/Images/Vlive-Landing.png"),
        this.mainProduct['yellow'] = require("@/assets/Images/Vapps(2).png"),
        this.mainProduct['red'] = require("@/assets/Images/VP.png")
    }
}
</script>

<style scoped>
.mbt-product-slider {
    background-color:white;
    padding-top:50px;
    max-width: 1500px;
    margin: 0 auto;
}
.container {
    text-align:center;
    width:80%;
    margin:0 auto;
}
p {
    font-size:15px;
}
.mbt-products {
    width:80%;
    margin:0 auto;
    padding-top:25px;
}
.products {
    padding-top:30px;
}
.mbt-products::after {
   content:'';
   display:table;
   clear: both;
}
.mbt-productlogo {
    position: relative;
    top:10px;
}
ul {
   list-style: none;
}
#orange li::before {
    content: "\2022";
    color: orangered;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size:large;
}
#yellow li::before {
    content: "\2022";
    color: #f7b80a;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size:large;
}
#red li::before {
    content: "\2022";
    color: red;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size:large;
}
ul li {
    font-size:14px;
    line-height: 33px;
    letter-spacing: .5px;
    display:flex;
}
.mbt-productlogo img {
    width:100%;
}

.mbt-productimage img {
    width:100%;
}
.links a {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color:#4A4A4A;
    font-size:13px;
    letter-spacing: 1px;
    display:block;
    cursor: pointer;
}
.textbox {
    text-align:center;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
@media only screen and (min-width:320px){
    .column {
        float:none;
    }
    .mbt-productlogo {
    width:40%;
    margin:0 auto;
    }
    .mbt-productlists {
    position: relative;
    top:10px;
    }
    .links {
    width:50%;
    margin:300px auto;
    }
    .links a {
        padding: 30% 0px;
    }
}
@media only screen and (min-width:768px){
    .column {
        float:none;
    }
    .mbt-productlogo {
    width:25%;
    margin:0 auto;
    }
    .mbt-productlists {
    position: relative;
    top:10px;
    }
    .links {
    width:21%;
    margin:300px auto;
    }
    .links a {
        padding: 37% 0px;
    }
}
@media only screen and (min-width:1024px){
    .column {
    float:none;
    }
    .mbt-productlogo {
    width:25%;
    margin:0 auto;
    }
    .mbt-productlists {
    position: relative;
    top:10px;
    }
    .links {
    width:21%;
    margin:300px auto;
    }
    .links a {
        padding: 40% 0px;
    }
}
@media only screen and (min-width:1200px){
    .column {
    float:left;
    width:50%;
    }
    .mbt-productlogo {
    width:16%;
    margin:0 auto;
    }
    .mbt-productlists {
    position: relative;
    top:27px;
    }
    .links {
    width:21%;
    margin:100px auto;
    }
    .links a {
        padding: 40% 0px;
    }
}
</style>
