<template>
    <div class="mbt-quotes">
        <carousel :perPage="1" 
            :paginationEnabled="true" 
            :paginationActiveColor="'#869791'"
            :paginationColor="'#d6d6d6'"
            :paginationSize="12"
            :loop="true" 
            :autoplay="false" 
            :mouse-drag="true"
            :spacePadding="10">
            <slide  v-for="(quote, index) in quotes" :key="index" data-index="0"
            data-name="MySlideName"
            @slideclick="handleSlideClick">
            <div class="client-quotes">
                <p class="statement"><i>"{{ quote.message }}"</i></p>
                <div class="client-info one">
                    <div class="image">
                        <img id="hits" :src="imageUrl[index]" alt='test'/>
                    </div>
                    <div class="info">
                        <p class="name"><b>{{ quote.name }}</b></p>
                        <p class="designation">{{ quote.designation }}</p>
                    </div>
                </div>
            </div>
            </slide>
        </carousel>
    </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
    data(){
        return {
            quotes:'',
            imageUrl:[]
        }
    },
    methods: {
      handleSlideClick(dataset){
        console.log(dataset.index, dataset.name)
      }
    },
    created(){
        this.quotes = window.config.quote
        this.imageUrl[0] = require('@/assets/Images/Oval2.png'),
        this.imageUrl[1] = require('@/assets/Images/Oval.png')
    },
    components: {
        Carousel,
        Slide
    }
}
</script>

<style scoped>  
.mbt-quotes {
    padding:50px 0;
} 
.client-quotes {
    width:76%;
    margin:0px auto;
    max-width:1500px;
}
.statement {
    color:#DA287F;
}
p {
    font-size:13px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.client-info {
    display:flex;
    justify-content: center;
    align-items: center;
}
.info {
    margin-left:3%;
}
.name {
    margin-top:5px;
    margin-bottom:0px;
}
.designation {
    margin-top:0px;
    margin-bottom:0px;
}
img {
    width:60px;
    height:60px;
}
</style>
