<template>
<div class="container" id="request-demo">
    <div class="row">
        <div class="mbt-request-demo">
            <div class="column mbt-demo-heading">
                <h3>IMPRESSED BY OUR PRODUCTS?</h3>
            </div>
            <div class="column mbt-demo-button">
                <button class="button" @click="demoForm()">REQUEST DEMO</button>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>
import { eventBus } from '@/main'

export default {
    data(){
        return {
            
        }
    },
    methods:{
        demoForm(){
            eventBus.$emit('handle-popup-event', true)
        }
    }
    
}
</script>

<style scoped>
.container {
    background-color:white;
    padding-top:50px;
}
.row {
    background-color:#3d3838;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.mbt-request-demo {
    max-width:1500px;
}
.mbt-request-demo::after {
  content: "";
  display: table;
  clear: both;
}
h3 {
    color:white;
    letter-spacing: 1px;
}
button {
    padding: 5px 25px;
    background-color:#2e8ae6;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
    border:1px solid #2e8ae6;
    cursor:pointer;
    margin-bottom:25px;
    }

button:hover {
    background-color:#4875cf;
    border:1px solid #4875cf;
}
button:active {
    outline: none;
}
button:focus {
    outline: none;
}
@media only screen and (min-width: 320px){
    .column {
        float:none;
    }
    .mbt-demo-heading {
        text-align:center;
        padding:1px 0;
    }
    .mbt-demo-button {
        text-align:center;
        padding: 5px 0 5px;
    }
    
}
@media only screen and (min-width: 768px){
    .column {
        float:none;
    }
    .mbt-demo-heading {
        text-align:center;
        padding:1px 0;
    }
    .mbt-demo-button {
        text-align:center;
        padding: 5px 0 10px;
    }
    
}
@media only screen and (min-width: 1024px){
    .column {
        float:none;
    }
    .mbt-request-demo {
        width:80%;
        height:80px;
        margin:0 auto;
        position:relative;
    }
    .mbt-demo-heading {
        width:32%;
        position: absolute;
        text-align: unset !important;
        top: -4%;
        left:5%;
        padding:0px;
    }
    .mbt-demo-button {
        position: absolute;
        text-align: unset;
        left: 73%;
        top: 29%;
        padding:0px;
    }
}
@media only screen and (min-width: 1200px){
    .column {
        float: left;
    }
    .mbt-request-demo {
        width:82%;
        height:80px;
        margin:0 auto;
        position:relative;
    }
    .mbt-demo-heading {
        width:32%;
        position: absolute;
        text-align: unset !important;
        top: 10%;
        left:5%;
        padding:0px;
    }
    .mbt-demo-button {
        position: absolute;
        text-align: unset;
        left: 73%;
        top: 30%;
        padding:0px;
    }
}
</style>
