<template>
    <div class="team" id="team">
        <div class="container">
            <div class="contents">
                <h2>{{ heading }}</h2>
                <p>{{ about }}</p>
            </div>
            <div class="row">
                <div v-for="(employee, index) in employees" :key="index" id="ceo" class="column">
                    <img :src="employee.image" alt="Anuraj Ennai" />
                    <p><b>{{ employee.name }}</b></p>
                    <p>{{ employee.designation }}</p>
                </div>
            </div>
            <div class="box">
                <div class="links all">
                    <div class="textbox">
                        <a @click="redirectTeam(team)">SEE ALL</a>
                    </div>
                </div>
                <div class="links join" @click="joinform()">
                    <div class="textbox">
                        <p>JOIN US</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { eventBus } from '@/main'

export default {
    data() {
        return {
            team:'TEAM',
            heading:'',
            about:'',
            employees:[],
            bod:require('@/assets/Images/1001.jpg')
        }
    },
    watch: {
        errors()  {
            if (this.errors.length) {
                this.isShow = true;
            }
        }
    },
    created(){
        this.heading = window.config.team.title,
        this.about = window.config.team.about
    },
    mounted(){
        this.employees = [
            {
                image:require('@/assets/Images/1001.jpg'),
                name: 'Anuraj Ennai',
                designation: 'CEO,Co-Founder'
            },
            {
                image: require('@/assets/Images/1002.jpg'),
                name: 'Tej Pandey',
                designation: 'COO,Co-Founder'
            },
            {
                image: require('@/assets/Images/1014.jpg'),
                name: 'Ashwin Kelkar',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1025.jpg'),
                name: 'Rana Haldar',
                designation: 'VP,Operations'
            }
        ]
    },
    methods:{
        joinform(){
            eventBus.$emit('handle-resume-event', true)
        },
        
        redirectTeam(name){
            console.log(name)
            this.$router.push({name: name})
        },
        // submitInfo(){
        //     if (!(this.validatename() && this.validatemail() && this.validatemobile() && this.validatemessage())) return;
        //     if(!this.docs){
        //         this.errorsresumes = [];
        //         this.errorsresumes.push("Attach file");
        //         return false;
        //     }
        //     console.log("api");
            
            // this.fileupload()
            // this.contactForm();
            // this.data()
            // let formData = new FormData();
            // formData.append('userid', this.name);
            // formData.append('email', this.email);
            // formData.append('mobile', this.mobile);
            // formData.append('msg', this.message);
            // formData.append('filename', this.docs);
            // formData.append('mbt_joinus_submit', '');
            // let apis = this;

            // this.getFileUpload(formData).then(function(res) {
            // apis.sendFeedBack(res.success);
            // }, function(fail) {
            //     console.log(fail);
            // }); 
            // this.fileUpload(formData).then(function(res) {
            // apis.contactForm(res.success);
            // }, function(fail) {
            //     console.log(fail);
            // }); 
            
            // this.name = ''
            // this.email = ''
            // this.mobile = ''
            // this.message = ''
            // this.docs = ''
            // this.errorsnames = ''
            // this.errorsmails = ''
            // this.errorsmobiles = ''
            // this.errorsmessages = ''
            // this.errorsresumes = ''
            // this.toast = ''
            // document.getElementById("body").style.overflow = "auto";
            // document.getElementById("nav").style.zIndex = "1000";
            // document.getElementById("nav").style.transition = "0.5s";
            // document.querySelector('.bg-modal-join').style.display = 'none';
        // },
        //   fileUpload (event){
        //     console.log(event);
        //     this.docs = event.target.files[0];
        //     this.toast = 'File Uploaded Successfully'
        //     this.errorsresumes = ''
        // }  
        // getFileUpload(formData) {
        //    return new Promise(function(resolve, reject) {
        //      fetch('https://mobiotics.com/fileupload.php', {
        //         method: 'POST',
        //         body: formData
        //         }).then(function(res) {
        //             console.log(res)
        //             return res.json();
        //         }).then(function(data) {
        //             resolve(data);
        //         }).catch(function(error) {
        //             reject(error);
        //         }) 
        //     })
        // },
        // sendFeedBack(file) {
        //     let submitData = new FormData()
        //     submitData.append('userid', this.name);
        //     submitData.append('email', this.email);
        //     submitData.append('mobile', this.mobile);
        //     submitData.append('msg', this.message);
        //     submitData.append('resume', file);
        //     submitData.append('mbt_joinus_submit', '');
        //     fetch('https://mobiotics.com/feedback.php', {
        //         method: 'POST',
        //         body: submitData
        //         }).then((response) => {
        //             console.log(response)
        //         }).catch(function(error) {
        //             console.log(error)
        //      })
            // this.name = ''
            // this.email = ''
            // this.mobile = ''
            // this.message = ''
            // this.docs = ''
            // this.errorsnames = ''
            // this.errorsmails = ''
            // this.errorsmobiles = ''
            // this.errorsmessages = ''
            // this.errorsresumes = ''
            // this.toast = ''
            // document.getElementById("body").style.overflow = "auto";
            // document.querySelector('.bg-modal-join').style.display = 'none';
        
        
    
    }, 
    // mixins: [utility,action]
    
}
</script>

<style scoped>
.team {
    padding-top:50px;
}
.row {
    padding-top:30px;
}
.box {
    padding-top:50px;
    padding-bottom:80px;
}
.container {
    width:80%;
    margin:0 auto;
    max-width:1500px;
    }
.errors {
    position:relative;
}
.error {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
}
.errorresumes {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
    bottom: -22px;
}
.entry {
    padding-bottom:20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 40px; 
    line-height: 20px;
}
li::before {
    content: "-"; 
    padding-right: 8px;
    color: black; 
}
.contents {
    text-align: center;
}
p {
    font-size:15px;
    letter-spacing: 1px;
    line-height:25px;
}
.row::after {
    content:'';
    display:table;
    clear: both;
}
.box::after {
    content:'';
    display:table;
    clear: both;
}
img {
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.column p {
    font-size:13px;
    color:#4A4A4A;
    text-align: center;
}
.links p{
    text-decoration: none;
    color:#4A4A4A;
    font-size:13px;
    display:block;
    cursor: pointer;
    margin-top:0%;
}
.links a {
    text-decoration: none;
    color:#4A4A4A;
    font-size:13px;
    display:block;
    cursor: pointer;
}
.textbox {
    text-align:center;
    background-color:white;
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 6px 0 rgba(0, 0, 0, 0.1);
}
.textbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-modal-join {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0%;
    z-index:1;
    overflow:hidden;
}
.modal-form-join {
    margin:auto;
    background-color:white;
    position: relative;
    border-radius:2px;
    top:-630px;
    animation: drop 0.8s ease forwards;
}
@keyframes drop{
    0%{opacity: 0}
    70%{ transform: translateY(700px)}
    100%{ transform: translateY(650px); opacity: 1;}
}
.close {
    position:absolute;
    top:-1%;
    right:2%;
    font-size:36px;
    transform:rotate(45deg);
    cursor:pointer;
}
form {
    margin-top:1.5em;
}
input {
    width:77%;
    border-radius: 4px;
    border: 1px solid gray;
    font-size:11px;
    margin-left: 38px;
    margin-top:3px;
}
input:focus {
    outline:none!important;
    border:1px solid blue;
    background:#f7fcfc;
}
textarea {
    width:77%;
    margin-left: 38px;
    margin-top:3px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px 10px;
    font-size:12px;
    color: #4A4A4A;
    height:71px;
}
textarea:focus {
    outline:none!important;
    border:1px solid blue;
    background:#f7fcfc;
}

label {
    padding-inline-start: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
}
input[type=text]{
    padding: 10px 10px;
    color: #4A4A4A;
    letter-spacing: 1px;
}
button {
    background-color:#2e8ae6;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #2e8ae6;
    border-radius: 4px;
    cursor:pointer;
    margin-bottom:16px;
    }
/* #submit:active {
    outline:none;
    border:none;
} */
#submit:focus {
    outline:none;
}
#submit:hover {
    background-color:#4875cf;
}
#file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#upload {
    background-color:white;
    color:#2e8ae6;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #c2bbba;
    border-radius: 4px;
    cursor:pointer;
}
#submit {
    margin-top:2%;
    background-color:#2e8ae6;
    float:right;
    position: absolute;
    right: 0%;
    bottom: 15px;
}
.toast {
    font-size:10px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 28px;
    color:gray;
}
@media only screen and (min-width:320px){
    .row {
        display:block;
    }
    .column {
        width:60%;
        float:none;
        margin:0 auto;
    }
    .all {
        float:left;
        width:60%;
        padding:0 20%;
    }
    .join {
        margin-left:0%;
        margin-top:20%;
        float:left;
        width:60%;
        padding:0 20%;
    }
    .links p{
        padding: 70px 0px;
    }
    .links a{
        padding: 70px 0px;
    }
    .modal-form-join {
        width:320px;
    }
    #upload {
        padding: 5px 3px;
        margin-left:8%;
    }
    input {
        margin-left:25px;
    }
    textarea {
        margin-left:25px;
    }
    label {
        padding-inline-start: 25px;
    }
    .error {
        padding-left:25px;
    }
    .errorresumes {
        padding-left:25px;
    }
    button {
        padding: 5px 32px;
    }
    #submit {
        margin-right:8%;
    }
    .toast {
        margin-left:2%;
    }
}
@media only screen and (min-width:768px){
    .row {
        display:block;
    }
    .column {
        width:30%;
        float: left;
        padding: 0 10%;
        margin:0%;
    }
    .all {
        float:left;
        width:30%;
        padding:0 10%;
    }
    .join {
        margin-top:0%;
        margin-left:0%;
        padding:0 10%;
        float:left;
        width:30%;
    }
    .links p{
        padding: 75px 0px;
    }
    .links a{
        padding: 75px 0px;
    }
    .modal-form-join {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width:1024px){
    .row {
        display:-webkit-box;
    }
    .column {
        width:21%;
        float:none;
        padding: 0 2.7%;
        margin:0%;
    }
    #ceo:nth-child(1) {
        padding-left:0%;
    }
    .all {
        float:left;
        width:21%;
        padding:0%;
    }
    .join {
        margin-top:0%;
        margin-left:58%;
        padding:0%;
        float:left;
        width:21%;
    }
    .links p{
        padding: 75px 0px;
    }
    .links a{
        padding: 75px 0px;
    }
    .modal-form-join {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width: 1200px) {
    .row {
        display:-webkit-box;
    }
    .column {
        width:19%;
        float:none;
        padding:0 3.8%;
        margin:0%;
    }
    #ceo:nth-child(1) {
        padding-left:0%;
    }
    .all {
        float:left;
        width:19%;
        padding:0%;
    }
    .join {
        margin-top:0%;
        margin-left:61%;
        padding:0%;
        float:left;
        width:19%;
    }
    .links p {
        padding: 45% 0px;
    }
    .links a {
        padding: 45% 0px;
    }
    .modal-form-join {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}

</style>
