<template>
<div id="products">
    <Navbar></Navbar>
    <productsdup></productsdup>
    <Demo style="padding-top:0px;"></Demo>
    <Contact></Contact>
    <Footer></Footer>
</div>
</template>

<script>
export default {
    data(){
        return {

        }
    },
    components: {
        'Navbar': () => import('./Navbar.vue'),
        'Demo': () => import('../MainBody/RequestDemo.vue'),
        'Contact': () => import('../MainBody/Contact.vue'),
        'Footer': () => import('../Footer.vue'),
        'productsdup': () => import('./productsdup.vue')
    },
    mounted(){
        if(window.location.pathname == '/Products'){
            window.scrollTo(0, 0)
        }
    }
}
</script>

<style scoped>
 
</style>
