<template>
<div class = "mbtnavbar" id="Nav">
    <div class="mbt-navbar-container">
        <div class="column mbt-navbar-logo">
            <a @click="redirecthome(home)">
                <img :src='logo1' alt="">
            </a>
        </div>
        <div class="bars">
            <i class="fa fa-bars" @click="resize" :class="[hide]" id="nav-icon"></i>
        </div>
        <div class="column mbt-navbar-lists">
            <a :class="[active]" v-show="isShow" :target="i.target" v-for="i in arr" :key="i.name" :href = "i.name == 'TEAM' ? '#' : i.link" @click="redirect(i.name,i.dupname)">{{i.name}}</a>
        </div>
    </div>
</div>
</template>

<script>
import { eventBus } from '@/main';
import path from 'path'

export default {
    data(){
        return {
           showForm: false,
           home:'HOME',
           arr:[],
           isShow: false,
           hide: 'hide',
           active: 'active',
           logo1:require('@/assets/Images/logoblack.svg')
        }
    },
     methods: {
        pathUrl(dir) {
            console.log(path.join(__dirname, './', dir), "0000000")
        return path.join(__dirname, './', dir);
        },
        redirecthome(name){
            console.log(name)
            this.$router.push({name: name})
        },
        resize() {
            console.log("window.screen.width",window.screen.width );
                if( window.screen.width <= 1024) {
                    this.isShow = !this.isShow;
                }
                else {
                    this.isShow = true;
                }
            },
            closeMenu(data) {
            console.log("closed", data)
                this.isShow = data;
        },
        redirect(name,duplicate){
            console.log("redirect || navbar.vue", name)
            if(name == 'ABOUT' || name == 'CLIENTS' || name == 'PARTNERS' || name == 'TEAM'){
             this.$router.push({name: name})
            } else if(duplicate == 'REQUESTDEMO'){
                eventBus.$emit('handle-popup-event', true)
            }
        }
     },        
    mounted() {
        this.arr = [
            {name: "ABOUT", link: "/#About"},
            {name: "PRODUCTS", link:"#"},
            {name: "CLIENTS", link: "/#Clients"},
            {name: "PARTNERS", link: "/#Partners"},
            {name: "TEAM", link: "Team"},
            {name: "CONTACT", link: "#contact"},
            {name: "BLOG", link:"https://medium.com/mobiotics", target:"_blank"},
            {name: "REQUEST DEMO", dupname:"REQUESTDEMO", link:"#demoform"}
        ]
    },
    created(){
        eventBus.$on("closeitems", this.closeMenu)
    }
    
}

</script>

<style scoped>
.mbtnavbar {
    position:fixed;
    width: 100%;
    top:0%;
    background: white;
    box-shadow: 0 8px 6px -6px #a4a5a6;
    z-index: 1000;
}
.mbt-navbar::after {
    content:'';
    display:table;
    clear:both;
}
.mbt-navbar-container {
    position:relative;
    width:80%;
    margin:0 auto;
    padding: 10px 0;
    max-width:1500px;
}
.mbt-navbar-container::after {
    content:'';
    display:table;
    clear:both;
}
.mbt-navbar-logo {
    width:13%;
}
.mbt-navbar-logo a {
    cursor: pointer;
}
.column {
    float: left;
}
.mbt-navbar-logo img {
    width:100%;
}
.active {
    font-size:12px;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:700;
}

@media only screen and (min-width: 320px){
    .mbt-navbar-logo {
    width:30%;
    }
    .hide {
        color:black;
    }
    .active {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .bars {
        position:absolute;
        right: 0%;
        top: 32%;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:67%;
        text-align: end;
        background-color:#7b7373;
    }
}
@media only screen and (min-width: 768px){
    .mbt-navbar-logo {
    width:16%;
    }
    .hide {
        color:black;
    }
    .active {
        display:block;
        color:white;
        padding:5px 10px;
    }
    
    .bars {
        position:absolute;
        right: 0%;
        top: 32%;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:67%;
        text-align: end;
        background-color:#7b7373;
    }
}
@media only screen and (min-width: 1024px){
    .mbt-navbar-logo {
    width:13%;
    }
    .hide {
       color:black;
    }
    .active {
      display:block;
      color:white;
      padding:5px 10px;
      
    }
    .bars {
        position:absolute;
        right: 0%;
        top: 32%;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:67%;
        text-align: end;
        background-color:#7b7373;
    }
}
@media only screen and (min-width: 1200px){
    .mbt-navbar-logo {
    width:13%;
    }
    .active {
        display: initial !important;
        color:#7b7373;
        padding:0 15.5px;
        background:none;
    }
    .active:hover {
        color:black;
    }
    .hide {
        display:none;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:30%;
        background:none;
    }
}  

</style>
