<template>
<div class="productslist">
    <vliveparent></vliveparent>
    <vliteparent></vliteparent>
    <vappsparent></vappsparent>
    <vdrmparent></vdrmparent>
    <vpremparent></vpremparent>
</div>
</template>

<script>

export default {
    data(){
        return {

        }
    },
    components:{
        'vpremparent': () => import('./vpremiere/vpremparent.vue'),
        'vliteparent': () => import('./vlite/vliteparent.vue'),
        'vliveparent': () => import('./vlive/vliveparent.vue'),
        'vdrmparent': () => import('./vdrm/vdrmparent.vue'),
        'vappsparent': () => import('./vapps/vappsparent.vue')
    }
}
</script>

<style scoped>

</style>
