<template>
    <div class="bg-modal">
        <div :class="modalform">
            <div class="close" @click="closePopup">+</div>
            <form id="valid" action="" @submit.prevent="submitRequest">
                <div class="entry">
                    <label for="name">Name</label><br>
                    <input type="text" name="yourname" v-model="name" id="popupbordername" placeholder="Your Name"><br>
                    <div v-if="errorsnames.length" class="errors">
                        <div v-for="errorsname in errorsnames" :key="errorsname" class="error">{{ errorsname }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="Email">Email</label><br>
                    <input type="text" name="youremail" v-model="email" id="popupborderemail" placeholder="Your Email"><br>
                    <div v-if="errorsmails.length" class="errors">
                        <div v-for="errorsmail in errorsmails" :key="errorsmail" class="error">{{ errorsmail }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="number">Mobile</label><br>
                    <input type="text" name="mobile" v-model="mobile" id="popupbordermobile" placeholder="Mobile"><br>
                    <div v-if="errorsmobiles.length" class="errors">
                        <div v-for="errorsmobile in errorsmobiles" :key="errorsmobile" class="error">{{ errorsmobile }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="business">Business</label><br>
                    <select id="borderbusiness" name="business"  v-model="business">
                        <option disabled value="" selected=true>Please select one</option>
                        <option v-for="(option, index) in options" :value="option.value" :key="index" :selected="index == 0 ? true : false">
                            {{ option.text }}
                        </option>
                    </select><br>
                    <div v-if="errorsbusinesses.length" class="errors">
                        <div v-for="errorsbusiness in errorsbusinesses" :key="errorsbusiness" class="error">{{ errorsbusiness }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="message">Message</label><br>
                    <textarea rows="4" columns="50" style="resize: none;" id="popupbordermessage" v-model="message" placeholder="Your Message"></textarea><br>
                    <div v-if="errorsmessages.length" class="errorstextarea">
                        <div v-for="errorsmessage in errorsmessages" :key="errorsmessage" class="errortextarea">{{ errorsmessage }}</div>
                    </div>
                </div>
                <button id="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</template>

<script>
import utility from '../Mixins/Validate.js'
import action from '../Mixins/action.js'
import { eventBus } from '@/main'

export default {
    name:"DemoRequest",
    data(){
        return {
            modalform: 'modal-form',
            errorsnames:[],
            errorsmobiles:[],
            errorsmails:[],
            errorsmessages:[],
            errorsbusinesses:[],
            name: null,
            email: null,
            mobile: null,
            business:'',
            message: null,
            options: [
                {text: 'Corporate', value: 'Corporate'},
                {text: 'Personal', value: 'Personal'},
                {text: 'Private', value: 'Private'}
            ]
        } 
    },
    methods: {
        submitRequest(){
            if (!(this.popupvalidatename() && this.popupvalidatemail() && this.popupvalidatemobile() && this.validatebusiness() && this.popupvalidatemessage())) return;
            this.demoForm()
            this.modalform = 'closemodalform'
            setTimeout(() => {
                eventBus.$emit('success-message', true)
            }, 500)
            setTimeout(() => {
            eventBus.$emit('handle-popup-event', false)
            }, 500)
            setTimeout(() => {
                eventBus.$emit('success-message', false)
            }, 6000)
            
        },
        closePopup() {
            this.modalform = 'closemodalform'
            setTimeout(() => {
            eventBus.$emit('handle-popup-event', false)
            }, 500)
        }
    },
    mixins:[utility,action]
}
</script>

<style scoped>

.bg-modal {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0%;
    z-index:1;
    overflow:hidden;
}
@keyframes drop{
    0%{opacity: 0}
    70%{ transform: translateY(700px)}
    100%{ transform: translateY(650px); opacity: 1;}
}
@keyframes close {
    0%{opacity: 1}
    100%{ transform: translateY(-700px); opacity: 0;}
}
.modal-form {
    width:450px;
    margin:auto;
    background-color:white;
    position: relative;
    border-radius:2px;
    top:-630px;
    animation: drop 0.8s ease forwards;
}
.closemodalform {
    width:450px;
    margin:auto;
    background-color:white;
    border-radius:2px;
    animation: close 0.8s ease forwards;
}
.errors {
    position: relative;
}
.error {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position: absolute;
}
.errorstextarea {
    position: relative;
    top:-4px;
}
.errortextarea {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position: absolute;
}
.entry:nth-child(1){
    padding-top: 20px;
}
.entry:nth-child(5){
    padding-bottom: 30px;
}
.entry {
    padding-bottom:20px;
}
.close {
    position:absolute;
    top:0%;
    right:2%;
    font-size:36px;
    transform:rotate(45deg);
    cursor:pointer;
}
form {
    margin-top:3.5em;
}
input{
    width:77%;
    border-radius: 4px;
    border: 1px solid gray;
    font-size:11px;
    margin-left: 38px;
    margin-top:3px;
}
input:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
input:-webkit-autofill:active {
    background:#f7fcfc;
}
select {
    background:white;
    border-radius: 4px;
    border: 1px solid gray;
    font-size:11px;
    margin-left: 38px;
    margin-top:3px;
}
select:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
textarea {
    width:77%;
    margin-left: 38px;
    margin-top:3px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px 10px;
    font-size:12px;
    color: #4A4A4A;
    height:71px;
}
textarea:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
input[type=text] {
    padding: 10px;
    color: #4A4A4A;
    letter-spacing: 1px;
}
select {
    text-indent:7px;
    color: #4A4A4A;
    letter-spacing: 1px;
    height:35px;
}
label {
    padding-inline-start: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
    font-weight:600;
    color:#0a0a0a;
}

button {
    padding: 5px 25px;
    width:83%;
    background-color:#2e8ae6;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
    border:1px solid #2e8ae6;
    cursor:pointer;
    margin-bottom:25px;
    }
#submit {
    margin-left:8%;
}
#submit:focus {
    outline:none;
}
button:hover {
    background-color:#4875cf;
    border:1px solid #4875cf;
}
button:active {
    outline: none;
}
@media only screen and (min-width:320px){
    .modal-form {
        width:320px;
        top:-681px;
    }
    .closemodalform {
        width:320px;
    }
    label {
        padding-inline-start: 25px;
    }
    input,select {
        margin-left:25px;
    }
    select {
        width:84%;
    }
    textarea {
        margin-left:25px;
    }
    .error {
        padding-left:25px;
    }
    .errortextarea {
        padding-left:25px;
    }
    button {
        width: 84%;
    }
}
@media only screen and (min-width: 360px){
    .modal-form {
        width:320px;
        top:-635px;
    }
    .closemodalform {
        width:320px;
    }
    label {
        padding-inline-start: 25px;
    }
    input,select {
        margin-left:25px;
    }
    select {
        width:84%;
    }
    textarea {
        margin-left:25px;
    }
    .error {
        padding-left:25px;
    }
    .errortextarea {
        padding-left:25px;
    }
    button {
        width: 84%;
    }
}
@media only screen and (min-width: 768px){
    .modal-form {
        width:450px;
        top: -500px;
    }
    .closemodalform {
        width:450px;
    }
    label {
        padding-inline-start: 39px;
    }
    input,select {
        margin-left:39px;
    }
    select {
        width:82%;
    }
    textarea {
        margin-left:39px;
    }
    .error {
        padding-left:39px;
    }
    .errortextarea {
        padding-left:39px;
    }
    button {
        width: 83%;
    }
}
@media only screen and (min-width: 1024px){
    
    .modal-form {
        width:450px;
        top: -350px;
    }
    .closemodalform {
        width:450px;
    }
    label {
        padding-inline-start: 39px;
    }
    input,select {
        margin-left:39px;
    }
    select {
        width:82%;
    }
    textarea {
        margin-left:39px;
    }
    .error {
        padding-left:39px;
    }
    .errortextarea {
        padding-left:39px;
    }
    button {
        width: 83%;
    }
}
@media only screen and (min-width: 1200px){
    .modal-form {
        width:450px;
        top:-630px;
    }
    .closemodalform {
        width:450px;
    }
    label {
        padding-inline-start: 39px;
    }
    input,select {
        margin-left:39px;
    }
    select {
        width:82%;
    }
    textarea {
        margin-left:39px;
    }
    .error {
        padding-left:39px;
    }
    .errortextarea {
        padding-left:39px;
    }
    button {
        width: 83%;
    }
}
@media only screen and (min-width: 1920px){
    .modal-form {
        width:450px;
        top:-450px;
    }
}
</style>

