<template>
    <div class="bg-modal-join">
        <div :class="modalformjoin">
            <div class="close" @click="closejoinform()">+</div>
            <form id="valid" action="" @submit.prevent="submitInfo">
                <div class="entry">
                    <label for="name">Name</label><br>
                    <input type="text" name="yourname" v-model="name" id="popupbordername" placeholder="Your Name"><br>
                    <div v-if="errorsnames.length" class="errors">
                        <div v-for="errorsname in errorsnames" :key="errorsname" class="error">{{ errorsname }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="Email">Email</label><br>
                    <input type="text" name="youremail" v-model="email" id="popupborderemail" placeholder="Your Email"><br>
                    <div v-if="errorsmails.length" class="errors">
                        <div v-for="errorsmail in errorsmails" :key="errorsmail" class="error">{{ errorsmail }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="number">Mobile</label><br>
                    <input type="text" name="mobile" v-model="mobile" id="popupbordermobile" placeholder="Mobile"><br>
                    <div v-if="errorsmobiles.length" class="errors">
                        <div v-for="errorsmobile in errorsmobiles" :key="errorsmobile" class="error">{{ errorsmobile }}</div>
                    </div>
                </div>
                <div class="entry">
                    <label for="message">Tell us why we should hire you</label><br>
                    <textarea rows="4" columns="50" style="resize: none;" id="popupbordermessage" v-model="message" placeholder="Your Message"></textarea><br>
                    <div v-if="errorsmessages.length" class="errorstextarea">
                        <div v-for="errorsmessage in errorsmessages" :key="errorsmessage" class="errortextarea">{{ errorsmessage }}</div>
                    </div>
                </div>
                <div class="entry" style="margin:7px 0px;padding-bottom: 30px;">
                    <input id="file" type="file" class="custom-input" @change="fileUpload" accept=".pdf, .doc, .docx">
                    <label id="upload" for="file">UPLOAD RESUME</label>
                    <div v-if="errorsresumes.length" class="errors">
                        <div v-for="errorsresume in errorsresumes" :key="errorsresume" class="errorresumes">{{ errorsresume }}</div>
                    </div>
                </div>
                <button id="submit">SUBMIT</button>
                <div class="toast">{{ toast }}</div>
            </form>
        </div>
    </div>
</template>

<script>
import utility from '../Mixins/Validate.js'
import action from '../Mixins/action.js'
import { eventBus } from '@/main'

export default {
    data(){
        return {
            modalformjoin: 'modal-form-join',
            errorsnames:[],
            errorsmobiles:[],
            errorsmails:[],
            errorsmessages:[],
            errorsresumes:[],
            name: null,
            email: null,
            mobile: null,
            message: null,
            files:[],
            toast:'',
        }
    },
    methods:{
        closejoinform(){
            this.modalformjoin = 'closeformjoin'
            setTimeout(() => {
                eventBus.$emit('handle-resume-event', false)
            }, 500)
        },
        submitInfo(){
            if (!(this.popupvalidatename() && this.popupvalidatemail() && this.popupvalidatemobile() && this.popupvalidatemessage())) return;
                if(!this.docs){
                this.errorsresumes = [];
                this.errorsresumes.push("Attach file");
                return false;
                }
                console.log("api");
                this.data()
                this.name = ''
                this.email = ''
                this.mobile = ''
                this.message = ''
                this.docs = ''
                this.errorsnames = ''
                this.errorsmails = ''
                this.errorsmobiles = ''
                this.errorsmessages = ''
                this.errorsresumes = ''
                this.toast = ''
                this.modalformjoin = 'closeformjoin'
                setTimeout(() => {
                    eventBus.$emit('success-message', true)
                }, 500)
                setTimeout(() => {
                    eventBus.$emit('handle-resume-event', false)
                }, 500)
                setTimeout(() => {
                eventBus.$emit('success-message', false)
                }, 3000)
        },
        fileUpload (event){
            console.log(event);
            this.docs = event.target.files[0];
            this.toast = 'File Uploaded Successfully'
            this.errorsresumes = ''
        } 
    },
    mixins:[utility,action] 
}
</script>

<style scoped>
.bg-modal-join {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0%;
    z-index:1;
    overflow:hidden;
}
.modal-form-join {
    width:450px;
    margin:auto;
    background-color:white;
    position: relative;
    border-radius:2px;
    top:-570px;
    animation: drop 0.8s ease forwards;
}
.closeformjoin {
    width:450px;
    margin:auto;
    background-color:white;
    border-radius:2px;
    animation: close 0.8s ease forwards;
}
@keyframes drop{
    0%{opacity: 0}
    70%{ transform: translateY(700px)}
    100%{ transform: translateY(650px); opacity: 1;}
}
@keyframes close {
    0%{opacity: 1}
    100%{ transform: translateY(-700px); opacity: 0;}
}
.close {
    position:absolute;
    top:0%;
    right:2%;
    font-size:36px;
    transform:rotate(45deg);
    cursor:pointer;
}
form {
    margin-top:1.5em;
}
.entry:nth-child(1){
    padding-top: 20px;
}
.entry:nth-child(4){
    padding-bottom: 30px;
}
.entry {
    padding-bottom:20px;
}
.errors {
    position:relative;
}
.error {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
}
.errorstextarea {
    position:relative;
    top:-4px;
}
.errortextarea {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
}
.errorresumes {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
    bottom: -22px;
}
input {
    width:77%;
    border-radius: 4px;
    border: 1px solid gray;
    font-size:11px;
    margin-left: 38px;
    margin-top:3px;
}
input:focus {
    outline:none!important;
    border:1px solid blue;
    background:#f7fcfc;
}
textarea {
    width:77%;
    margin-left: 38px;
    margin-top:3px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px 10px;
    font-size:12px;
    color: #4A4A4A;
    height:71px;
}
textarea:focus {
    outline:none!important;
    border:1px solid blue;
    background:#f7fcfc;
}

label {
    padding-inline-start: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
    font-weight: 600;
    color: #0a0a0a;
}
input[type=text]{
    padding: 10px 10px;
    color: #4A4A4A;
    letter-spacing: 1px;
}
button {
    background-color:#2e8ae6;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #2e8ae6;
    border-radius: 4px;
    cursor:pointer;
    margin-bottom:16px;
    }
/* #submit:active {
    outline:none;
    border:none;
} */
#submit:focus {
    outline:none;
}
#submit:hover {
    background-color:#4875cf;
}
#file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#upload {
    background-color:white;
    color:#2e8ae6;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #c2bbba;
    border-radius: 4px;
    cursor:pointer;
}
#submit {
    margin-top:2%;
    background-color:#2e8ae6;
    float:right;
    position: absolute;
    right: 0%;
    bottom: 8px;
}
.toast {
    font-size:10px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 28px;
    color:gray;
}
@media only screen and (min-width:320px){
    .modal-form-join {
        width:320px;
        top:-596px;
    }
    .closeformjoin {
        width:320px;
    }
    #upload {
        padding: 5px 3px;
        margin-left:8%;
    }
    input {
        margin-left:25px;
    }
    textarea {
        margin-left:25px;
    }
    label {
        padding-inline-start: 25px;
    }
    .error {
        padding-left:25px;
    }
    .errorresumes {
        padding-left:25px;
    }
    button {
        padding: 5px 32px;
    }
    #submit {
        margin-right:8%;
    }
    .toast {
        margin-left:1%;
    }
}
@media only screen and (min-width:360px){
    .modal-form-join {
        width:320px;
        top:-559px;
    }
    .closeformjoin {
        width:320px;
    }
    #upload {
        padding: 5px 3px;
        margin-left:8%;
    }
    input {
        margin-left:25px;
    }
    textarea {
        margin-left:25px;
    }
    label {
        padding-inline-start: 25px;
    }
    .error {
        padding-left:25px;
    }
    .errorresumes {
        padding-left:25px;
    }
    button {
        padding: 5px 32px;
    }
    #submit {
        margin-right:8%;
    }
    .toast {
        margin-left:2%;
    }
}
@media only screen and (min-width:768px){
    .modal-form-join {
    width:450px;
    top:-420px;
    }
    .closeformjoin {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width:1024px){
    .modal-form-join {
    width:450px;
    top:-300px;
    }
    .closeformjoin {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width:1200px){
    .modal-form-join {
        width:450px;
        top:-570px;
    }
    .closeformjoin {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width: 1920px){
    .modal-form-join {
        width:450px;
        top:-450px;
    }
}
</style>


