<template>
    <div class="column">
        <div class="logo-vapps">
            <img :src="vapps" alt="test" />
        </div>
        <div class="vappspoints">
            <ul id="yellow">
                <li v-for="(yellow, index) in yellows" :key="index">{{ yellow }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props:['yellows'],
    data(){
        return {
            vapps:require("@/assets/Images/vappsnew.png")
        }
    }
}
</script>

<style scoped>
ul {
    list-style: none;
}
#yellow li::before {
  content: "\2022";
  color: #f7b80a;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size:large;
}
li {
    font-size:14px;
    letter-spacing: 0.5px;
    line-height:33px;
    display:flex;
}
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .logo-vapps {
        width: 44%;
        padding-left: 0px;
        margin:0 auto;
    }
    .column {
        padding-left:0px;
    }
}
@media only screen and (min-width: 768px){
    .logo-vapps {
        width: 35%;
        padding-left: 0px;
        margin:0 auto;
    }
    .column {
        padding-left:0px;
    }
}
@media only screen and (min-width: 1024px){
    .logo-vapps {
        width: 35%;
        padding-left: 30px;
        margin:0;
    }
    .column {
        padding-left:6px;
    }
}
@media only screen and (min-width: 1200px){
    .logo-vapps {
        width: 32%;
        padding-left: 30px;
        margin:0;
    }
    .column {
        padding-left:13px;
    }
}
</style>
