<template>
    <div class="image-vapps">
        <img :src="main" alt="test" />
    </div>
</template>

<script>
export default {
    data(){
        return {
            main:require('@/assets/Images/Vapps(2).png')
        }
    }
}
</script>

<style scoped>
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .image-vapps {
    width:100%;
    }
}
@media only screen and (min-width: 768px){
    .image-vapps {
    width:100%;
    }
}
@media only screen and (min-width: 1024px){
    .image-vapps {
    width:46%;
    }
}
@media only screen and (min-width: 1200px){
    .image-vapps {
    width:46%;
    }
}
</style>

