<template>
    <div class="vapps">
        <productImage></productImage>
        <listItem :yellows="yellows"></listItem>
    </div>
</template>

<script>
import productImage from './productImage'
import listItem from './listItem'

export default {
    data(){
        return {
            yellows:''
        }
    },
    created(){
        // this.yellows = window.config.products.yellow
        this.yellows = window.config.Products[1]
    },
    components:{
        'listItem': listItem,
        'productImage': productImage
    }
}
</script>

<style scoped>
.vapps {
    width:80%;
    margin:0 auto;
    padding:70px 0;
    max-width: 1500px;
}
@media only screen and (min-width: 320px){
    .vapps {
        display:block;
    }
}
@media only screen and (min-width: 768px){
    .vapps {
        display:block;
    }
}
@media only screen and (min-width: 1024px){
    .vapps {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px){
    .vapps {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
</style>
