<template>
    <div class="column">
        <div class="logo-vlive">
            <img :src="vlive" alt="test" />
        </div>
        <div class="vlitepoints">
            <ul id="orange">
                <li v-for="(orange, index) in oranges" :key="index">{{ orange }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props:['oranges'],
    data(){
        return {
            vlive:require("@/assets/Images/Vlive1.svg")
        }
    }
}
</script>

<style scoped>
ul {
    list-style: none;
}
#orange li::before {
  content: "\2022";
  color:orangered;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size:large;
}
li {
    font-size:14px;
    letter-spacing: 0.5px;
    line-height:33px;
    display:flex;
}
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .logo-vlive {
        width:44%;
        padding-left: 0px;
        margin:0 auto;
    }
    .column {
        padding-left:6px;
    }
}
@media only screen and (min-width: 768px){
    .logo-vlive {
        width:32%;
        padding-left: 0px;
        margin:0 auto;
    }
    .column {
        padding-left:6px;
    }
}
@media only screen and (min-width: 1024px){
    .logo-vlive {
        width:34%;
        padding-left: 30px;
        margin:0;
    }
    .column {
        padding-left:6px;
    }
}
@media only screen and (min-width: 1200px){
    .logo-vlive {
        width:32%;
        padding-left: 31px;
        margin:0;
    }
    .column {
        padding-left:13px;
    }
}
</style>
