<template>
    <div class="image-vlive">
        <img :src="main" alt="test" />
    </div>
</template>

<script>
export default {
    data(){
        return {
            main:require('@/assets/Images/Vlive(1).png')
        }
    }
}
</script>

<style scoped>
img {
    width:100%;
}
@media only screen and (min-width: 360px){
    .image-vlive{
    width:97%;
    }
}
@media only screen and (min-width: 768px){
    .image-vlive{
    width:97%;
    }
}
@media only screen and (min-width: 1024px){
    .image-vlive{
    width:47%;
    }
}
@media only screen and (min-width: 1200px){
    .image-vlive{
    width:47%;
    }
}
</style>

