<template>
<div class="vlive">
    <productImage></productImage>
    <listItem :oranges="oranges"></listItem>
</div>
</template>

<script>
import productImage from './productImage'
import listItem from './listItem'

export default {
    data(){
        return {
            oranges:''
        }
    },
    created(){
        this.oranges = window.config.Products[0]
    },
    components:{
        'listItem': listItem,
        'productImage': productImage
    }
}
</script>

<style scoped>
.vlive {
    width:80%;
    margin:0 auto;
    padding-bottom:70px;
    padding-top:100px;
    max-width:1500px;
}
@media only screen and (min-width: 360px){
    .vlive {
        display:block;
    }
}
@media only screen and (min-width: 768px){
    .vlive {
        display:block;
    }
}
@media only screen and (min-width: 1024px){
    .vlive {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px){
    .vlive {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
</style>