<template>
<div id="TeamPage">
    <Navbar></Navbar>
    <TeamMembers></TeamMembers>
    <ContactTeam></ContactTeam>
    <Footer></Footer>
</div>
</template>

<script>
import { eventBusteam } from '@/main'

export default {
    data(){
        return {

        }
    },
    components: {
        'Navbar': () => import('./Navbar.vue'),
        'TeamMembers': () => import('./TeamMembers.vue'),
        'ContactTeam': () => import('../MainBody/Contact.vue'),
        'Footer': () => import('../Footer.vue')
    },
    mounted(){
        if(window.location.pathname == "/Team"){
            window.scrollTo(0, 0)
        }
    }
}
</script>

<style scoped>

</style>
