<template>
<div class="mbt-all-team">
    <div class="container">
        <div class="mbt-all-teamheading">
            <h2>{{ heading }}</h2>
            <p id="teampageabout">{{ about }}</p>
        </div>
        <div class="row">
            <div v-for="(employee, index) in employees" :key="index" class="column mbt-members">
                <img :src="employee.image" alt="test" />
                <p><b>{{ employee.name }}</b></p>
                <p>{{ employee.designation }}</p>
            </div>
        </div>
        <div class="links join" @click="joinform()">
            <div class="textbox">
                <p>JOIN US</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { eventBus } from '@/main'

export default {
    data(){
        return {
            heading:'',
            about:'',
            isShow:false,
            employees:[]
        }
    },
    watch:{
        errors(){
            if(this.errors.length){
                this.isShow = true;
            }
        }
    },
    created(){
        this.heading = window.config.team.title,
        this.about = window.config.team.about
    },
    mounted(){
        this.employees = [
            {
                image: require('@/assets/Images/1001.jpg'),
                name: 'ANURAJ ENNAI',
                designation: 'CEO,Co-Founder'
            },
            {
                image: require('@/assets/Images/1002.jpg'),
                name: 'TEJ PANDEY',
                designation: 'COO,Co-Founder'
            },
            {
                image: require('@/assets/Images/1014.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1025.jpg'),
                name: 'RANA HALDAR',
                designation: 'VP,Operations'
            },
            {
                image: require('@/assets/Images/1025.jpg'),
                name: 'RANA HALDAR',
                designation: 'VP,Operations'
            },
            {
                image: require('@/assets/Images/1014.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1006.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1001.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1015.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1002.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1010.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1014.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1025.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1025.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1015.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1010.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1006.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1014.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1010.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            },
            {
                image: require('@/assets/Images/1001.jpg'),
                name: 'ASHWIN KELKAR',
                designation: 'VP,Engineering'
            }
        ]
    },
    methods:{
        joinform(){
            eventBus.$emit('handle-resume-event', true)
        },
    }
}
</script>

<style scoped>
.mbt-all-team {
    margin:0 auto;
    padding-top:50px;
    padding-bottom:50px;
}
.container {
    width:82%;
    margin:0 auto;
    max-width:1500px;
}
#para {
    text-align: start;
}
.errors {
    position: relative;
}
.error {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
}
.errorresumes {
    color: red;
    padding-left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    position:absolute;
    bottom: -22px;
}
.entry {
    padding-bottom:20px;
}
#alerts {
padding-inline-start: 40px;
font-family: 'Noto Sans', sans-serif;
font-size:12px;
}
#items {
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 40px; 
    line-height: 20px;
}
li::before {
  content: "-"; 
  padding-right: 8px;
  color: black; 
}
.mbt-all-teamheading {
    text-align: center;
}
.row::after {
    content:'';
    display:table;
    clear: both;
}
p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height:20px;
    color:#4A4A4A;
    text-align: center;
}
#teampageabout {
    color:black;
    line-height: 25px;
    font-size: 14px;
}
.column {
    float: left;
}
.mbt-members img{
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.links p{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color:#4A4A4A;
    font-size:13px;
    display:block;
    cursor: pointer;
    margin-top:0%;
}
.textbox {
    text-align:center;
    background-color:white;
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 6px 0 rgba(0, 0, 0, 0.1);
}
.textbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg-modal-join {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    top:0%;
    z-index:1;
    overflow:hidden;
    display: none;
}
.modal-form-join {
    width:450px;
    margin:auto;
    background-color:white;
    position: relative;
    border-radius:2px;
    top:-630px;
    animation: drop 0.8s ease forwards;
}
@keyframes drop{
    0%{opacity: 0}
    70%{ transform: translateY(700px)}
    100%{ transform: translateY(650px); opacity: 1;}
}
.close {
    position:absolute;
    top:-1%;
    right:2%;
    font-size:36px;
    transform:rotate(45deg);
    cursor:pointer;
}
form {
    margin-top:1.5em;
}
input {
    width:77%;
    border-radius: 4px;
    border: 1px solid gray;
    font-size:11px;
    margin-left: 38px;
    margin-top:3px;
}
input:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
textarea {
    width:77%;
    margin-left: 38px;
    margin-top:3px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px 10px;
    font-size:12px;
    color: #4A4A4A;
    height:71px;
}
textarea:focus {
    outline:none!important;
    border:1px solid #2e8ae6;
    background:#f7fcfc;
}
label {
    padding-inline-start: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size:12px;
}
input[type=text]{
    padding: 10px 10px;
    color: #4A4A4A;
    letter-spacing: 1px;
}
button {
    background-color:#2e8ae6;
    color: aliceblue;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #2e8ae6;
    border-radius: 4px;
    cursor:pointer;
    margin-bottom:15px;
    }
#submit:hover {
    background-color:#4875cf;
    border:1px solid #4875cf;
}
button:focus {
    outline:0;
}
#file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#upload {
    background-color:white;
    color:#2e8ae6;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #c2bbba;
    border-radius: 4px;
    cursor:pointer;
    margin-left:8%;
}
#submit {
    margin-top:2%;
    background-color:#2e8ae6;
    float:right;
    position: absolute;
    right: 0%;
    bottom: 16px;
}
.toast {
    font-size:10px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 28px;
    color:gray;
}
@media only screen and (min-width:320px){
    .column {
    float: left;
    }
    .row {
    width:70%;
    margin:0 auto;
    }
    .mbt-members {
    width:75%;
    padding:5% 12%;
    }
    .links {
    width:50%;
    margin:0 auto;
    }
    .links p{
        padding: 70px 0px;
    }
    .modal-form-join {
        width:320px;
    }
    #upload {
        padding: 5px 3px;
        margin-left:8%;
    }
    input {
        margin-left:25px;
    }
    textarea {
        margin-left:25px;
    }
    label {
        padding-inline-start: 25px;
    }
    .error {
        padding-left:25px;
    }
    .errorresumes {
        padding-left:25px;
    }
    button {
        padding: 5px 32px;
    }
    #submit {
        margin-right:8%;
    }
    .toast {
        margin-left:2%;
    }
}
@media only screen and (min-width:768px){
    .column {
    float: left;
    }
    .row {
    width:100%;
    margin:0 auto;
    }
    .mbt-members {
    width:24%;
    padding:1% 4.5%;
    }
    .links {
    width:25%;
    margin:0 auto;
    }
    .links p{
        padding: 75px 0px;
    }
    .modal-form-join {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width:1024px){
    .column {
    float: left;
    }
    .row {
    width:100%;
    margin:0 auto;
    }
    .mbt-members {
    width:20%;
    padding:1% 2.5%;
    }
    .links {
    width:20%;
    margin:0 auto;
    }
    .links p{
        padding: 75px 0px;
    }
    .modal-form-join {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
@media only screen and (min-width:1200px){
    .column {
    float: left;
    }
    .row {
    width:100%;
    margin:0 auto;
    }
    .mbt-members {
    width:20%;
    padding:1% 2.5%;
    }
    .links {
    width:20%;
    margin:0 auto;
    }
    .links p {
        padding: 45% 0px;
    }
    .modal-form-join {
        width:450px;
    }
    #upload {
        padding: 5px 26px;
        margin-left:8%;
    }
    input {
        margin-left:39px;
    }
    textarea {
        margin-left:39px;
    }
    label {
        padding-inline-start: 39px;
    }
    .error {
        padding-left:39px;
    }
    .errorresumes {
        padding-left:39px;
    }
    button {
        padding: 5px 59px;
    }
    #submit {
        margin-right:9%;
    }
    .toast {
        margin-left:8%;
    }
}
</style>
