<template>
    <div class="column">
        <div class="logo-vlite">
            <img :src="vlite" alt="test" />
        </div>
        <div class="vlitepoints">
            <ul id="green">
                <li v-for="(green, index) in greens" :key="index">{{ green }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props:['greens'],
    data(){
        return {
            vlite:require("@/assets/Images/CompVlitenewlogo.png"),
        }
    }
}
</script>

<style scoped>
ul {
    list-style: none;
}
#green li::before {
  content: "\2022";
  color:#41e07e;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size: large;
}
li {
    font-size:14px;
    letter-spacing: 0.5px;
    line-height:33px;
    display:flex;
}
img {
    width:100%;
}
@media only screen and (min-width: 360px){
    .logo-vlite {
        width: 44%;
        padding-left:0px;
        margin:0 auto;
    }
    .column {
        padding-left: 0%;
    }
}
@media only screen and (min-width: 768px){
    .logo-vlite {
        width: 32%;
        padding-left:0px;
        margin:0 auto;
    }
    .column {
        padding-left: 0%;
    }
}
@media only screen and (min-width: 1024px){
    .logo-vlite {
        width: 38%;
        padding-left:32px;
        margin:0;
    }
    .column {
        padding-left: 0%;
    }
}
@media only screen and (min-width: 1200px){
    .logo-vlite {
        width: 38%;
        padding-left:32px;
        margin:0;
    }
    .column {
        padding-left: 0%;
    }
}
</style>
