<template>
    <div class="image-vlite">
        <img :src="main" alt="test" />
    </div>
</template>

<script>
export default {
    data(){
        return {
            main:require('@/assets/Images/VL.png'),
            placeholder: require('@/assets/Images/Vapps.png')
        }
    }
}
</script>

<style>
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .image-vlite {
        width:100%;
    }
}
@media only screen and (min-width: 768px){
    .image-vlite {
        width:100%;
    }
}
@media only screen and (min-width: 1024px){
    .image-vlite {
        width:55%;
    }
}
@media only screen and (min-width: 1200px){
    .image-vlite {
        width:48%;
        padding-left:7%;
    }
}

</style>

