<template>
<div class="gradient">
    <div class="vlite">
        <listItem :greens="greens"></listItem>
        <productImage></productImage>
    </div>
</div>
    
</template>

<script>
import productImage from './productImage'
import listItem from './listItem'
export default {
    data(){
        return {
            greens:''
        }
    },
    created(){
        this.greens = window.config.Products[3]
    },
    components:{
        'listItem': listItem,
        'productImage': productImage
    }
}
</script>

<style scoped>
.gradient {
    background-image: linear-gradient(#F8FAFC);
}
.vlite {
    width:80%;
    margin:0 auto;
    padding:70px 0;
    max-width:1500px;
}
@media only screen and (min-width: 360px){
    .vlite {
        display:block;
    }
}
@media only screen and (min-width: 768px){
    .vlite {
        display:block;
    }
}
@media only screen and (min-width: 1024px){
    .vlite {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px){
    .vlite {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
</style>