<template>
    <div class="mbt-main" v-on:scroll="scrolling()">
        <!-- <button @click="myfunction">Click</button> -->
        <Navbar></Navbar>
        <div class="relative">
            <div class="mbt-hero">
                <h1>PIONEERING<br>THE NEXT GENERATION TV</h1>
                <div class="para">
                <p>With ShowTrackr you can track your favourite TV shows automatically, so 
                 you never loose track of your TV shows ever again.</p>
                </div>
                <a href="#Products" class="button">EXPLORE</a>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from './Navbar.vue'

import { eventBus } from '@/main'

export default {
    data(){
        return {
            heading:'',
            about:''
        }
    },
    components: {
        'Navbar': Navbar
    },
    methods:{
        myfunction(){
            console.log("pageYOffset-"+ window.pageYOffset);
        },
        scrolling(event){
            if(window.pageYOffset >= 400){
                eventBus.$emit("send-to-nav", true)
            } else {
                console.log('initial')
                eventBus.$emit("send-to-nav", false)
            }
        }
    },
    created () {
    window.addEventListener('scroll', this.scrolling);
    this.heading = window.config.mainhero.title
    this.about = window.config.mainhero.about
    },
    destroyed () {
    window.removeEventListener('scroll', this.scrolling);
    }
}
</script>

<style scoped>
.mbt-main {
    background-image: url("../../assets/Images/mobiotics-hero.jpg");
    background-size:cover; 
    height:100vh;
    position:relative;
    background-position: center;
    }
.relative {
    position: relative;
    height: 400px;
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
}
h1 {
    color:white;
    letter-spacing: 1.5px;
    font-weight:bold;
    margin-bottom:0px;
}
p {
    color:white;
    font-size:15px;
    letter-spacing: 0.5px;
    margin-top:10px;
    margin-bottom:30px;
    line-height: 20px;
}
a {
    text-decoration:none;
}
.button {
    padding: 1% 5%;
    background-color:#2e8ae6;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2px;
}
.button:hover {
    background-color:#4875cf;
}
@media only screen and (min-width: 320px){
    .mbt-hero {
    position:absolute;
    top: 40%;
    }   
    h1 {
        font-size: 25px;
    }
    .para {
        width: 84%;
    }
}
@media only screen and (min-width: 768px){
    .mbt-hero {
    position:absolute;
    top: 65%;
    }
    h1 {
        font-size: 40px;
    }
    .para {
        width: 90%;
    }
}
@media only screen and (min-width: 1024px){
    .mbt-hero {
    position:absolute;
    top: 65%;
    }
    h1 {
        font-size: 40px;
    }
    .para {
        width: 70%;
    }
}
@media only screen and (min-width: 1200px){
    .mbt-hero {
    position:absolute;
    top: 30%;
    }
    h1 {
        font-size: 2.6em;
    }
    .para {
        width: 66%;
    }
}
@media only screen and (min-width: 1700px){
    .mbt-hero {
    position:absolute;
    top: 50%;
    }
    h1 {
        font-size: 3.6em;
    }
    .para {
        width: 84%;
    }
}
</style>
