<template>
<div :class="[mbtnavbar]" class="mbt-navbar" id="nav">
    <div class="mbt-navbar-container">
        <div class="column mbt-navbar-logo">
            <a href="#" aria-label="brand">
                <img :src='logo1' :src-placeholder="logo1" alt="test" />
            </a>
        </div>
        <div class="bars">
            <i class="fa fa-bars" @click="resize" :class="[hide]" id="nav-icon"></i>
        </div>
        <div class="column mbt-navbar-lists">
            <a id="closelists" :class="[active]" v-show="isShow" @click="redirectProduct(i.name,i.dupname)" :target="i.target" v-for="i in arr" :key="i.name" :href = "i.name == 'PRODUCTS' ? '#' : i.link">{{i.name}}</a>
        </div>
    </div>
</div>
</template>

<script>
import { eventBus } from '@/main'
import path from 'path'

export default {
    data(){
        return {
           arr:[],
           isShow: false,
           hide: 'hide',
           isActive: false,
           unhide:'',
           mbtnavbar:'',
           stylenav:{},
           active: 'active',
           logo1:require('../../assets/Images/logo1.svg')
        }
    },
     methods: {
        pathUrl(dir) {
            console.log(path.join(__dirname, './', dir), "0000000")
        return path.join(__dirname, './', dir);
        },
        redirectProduct(product,duplicate){
            console.log("NavBar.vue",product)
            if(product == "PRODUCTS"){
                console.log("reached")
                this.$router.push({ name: product })
            } else if(duplicate == 'REQUESTDEMO') {
                console.log('opened')
                eventBus.$emit('handle-popup-event', true)
            }
        },
        resize() {
        console.log("window.screen.width",window.screen.width );
            if( window.screen.width <= 1024) {
                this.isShow = !this.isShow;
            }
            else {
                this.isShow = true;
            }
        },
        makeChangeNav(data) {
            if(data) {
                this.active = "deactive";
                this.mbtnavbar = "scroll";
                this.hide = "unhide";
                this.logo1 = require("@/assets/Images/logoblack.svg");
            } else {
                this.active = "active";
                this.mbtnavbar = "mbt-navbar";
                this.hide = "hide";
                this.logo1 = require("@/assets/Images/logo1.svg");
            }
            
        },
        closeMenu(data) {
            console.log("closed", data)
                this.isShow = data;
        },
        
    },
    mounted() {
        this.arr = [
            {name: "ABOUT", link: "#About"},
            {name: "PRODUCTS", link: "Products"},
            {name: "CLIENTS", link: "#Clients"},
            {name: "PARTNERS", link: "#Partners"},
            {name: "TEAM", link: "#team"},
            {name: "CONTACT", link: "#contact"},
            {name: "BLOG", link:"https://medium.com/mobiotics", target:"_blank"},
            {name: "REQUEST DEMO", dupname:"REQUESTDEMO", link:"#demoform"}
        ]
    },
    created() {
        eventBus.$on("closeitems", this.closeMenu);

        eventBus.$on("send-to-nav", this.makeChangeNav);
    },
}
</script>

<style scoped>
.hidden {
    position: relative;
}
.mbt-navbar::after {
    content:'';
    display:table;
    clear:both;
}
.mbt-navbar-container {
    position:relative;
    width:80%;
    margin:0 auto;
    padding: 10px 0;
    max-width: 1500px;
}
.mbt-navbar-container::after {
    content:'';
    display:table;
    clear:both;
}
.mbt-navbar-logo {
    width:13%;
}

.column {
    float: left;
}
.mbt-navbar-logo img {
    width:100%;
}
.active {
    font-size:12px;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:700;
    cursor: pointer;
}
.deactive {
    font-size:12px;
    text-transform:uppercase;
    text-decoration:none;
    padding:5px 10px;
    font-weight:700;
    cursor: pointer;
}
.mbt-navbar {
    position:fixed;
    width: 100%;
    top:0%;
    z-index: 1000;
    }
.scroll {
    position:fixed;
    width: 100%;
    top:0%;
    background: white;
    box-shadow: 0 8px 6px -6px #a4a5a6;
    z-index: 1000;
    transition: 0.5s;
    }
@media only screen and (min-width: 320px){
    .mbt-navbar-logo {
        width:32%;
    }
    .hide {
        color:white;
    }
    .unhide {
        color:black;
    }
    .active {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .deactive {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .bars {
        position:absolute;
        right: 0%;
        top: 28%;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:67%;
        text-align: end;
        background-color:gray;
    }
}
@media only screen and (min-width: 768px){
    .mbt-navbar-logo {
        width:16%;
    }
    .hide {
        color:white;
    }
    .unhide {
        color:black;
    }
    .active {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .deactive {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .bars {
        position:absolute;
        right: 0%;
        top: 32%;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:67%;
        text-align: end;
        background-color:gray;
        
    }
}
@media only screen and (min-width: 1024px){
    .mbt-navbar-logo {
        width:16%;
    }
    .hide {
        color:white;
    }
    .unhide {
        color:black;
    }
    .active {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .deactive {
        display:block;
        color:white;
        padding:5px 10px;
    }
    .bars {
        position:absolute;
        right: 0%;
        top: 32%;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:67%;
        text-align: end;
        background-color:gray;
        
    }
}
@media only screen and (min-width: 1200px){
    .mbt-navbar-logo {
        width:13%;
    }
    .active {
        display: initial !important;
        color:lightgray;
        padding:0 15.5px;
        background:none;
        
    }
    .active:hover {
        color:white;
    }
    .deactive {
        display: initial !important;
        color:#7b7373;
        padding:0 15.5px;
        
    }
    .deactive:hover {
        color:black;
    }
    .hide {
        display:none;
    }
    .unhide {
        display:none;
    }
    .mbt-navbar-lists {
        position:absolute;
        right:0%;
        top:32%;
        background:none;
        
    }
}  

</style>
