<template>
    <div class="mbt-footer">
        <div class="container">
            <div class="column copyright">
                <p><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Mobiotics</p>
            </div>
            <div class="column mbt-socialmedia">
                <a href="https://www.facebook.com/mobiotics" aria-label="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://in.linkedin.com/company/mobiotics" aria-label="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/mobiotics?lang=en" aria-label="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://plus.google.com/" aria-label="googleplus" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.instagram.com/?hl=en" aria-label="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>

<style scoped>
.mbt-footer {
    background-color:#DAEAFA;
    padding:10px 0;
}
.container {
    width:80%;
    margin:0 auto;
    padding-top:10px;
    max-width: 1500px;
}
.container::after {
    content:'';
    display:table;
    clear:both;
}
.copyright {
    float:left;
}
.mbt-socialmedia {
    float:right;
    padding-top:1px;    
}
.column p{
    margin-top:0px;
    font-family: 'Noto Sans', sans-serif;
    font-size:15px;
}
.column a {
    color:#464646;
    padding:0 5px;
}
.column a:hover {
    color:#000000;
}
@media only screen and (min-width:320px){
    .column {
        width:100%;
        text-align: center;
    }
}
@media only screen and (min-width:450px){
    .column {
        width:unset;
        text-align: none;
    }
}
@media only screen and (min-width:768px){
    .column {
        width:unset;
        text-align: none;
    }
}
@media only screen and (min-width:1024px){
    .column {
        width:unset;
        text-align: none;
    }
}
@media only screen and (min-width:1200px){
    .column {
        width:unset;
        text-align: none;
    }
}
</style>
