<template>
    <div id="mbt">
        <MainHero></MainHero>
        <Body></Body>
        <Footer></Footer>
    </div>
</template>

<script>

export default {
    data() {
        return {

        }
    },
    components: {
    'MainHero': () => import('./MainHero/MainHero.vue'),
    'Body': () => import('./MainBody/Body.vue'),
    'Footer': () => import('./Footer.vue')
    },
    mounted(){
        if(window.location.hash == ""){
            window.scrollTo(0, 0)
        }
    }
}
</script>

<style>

</style>

