<template>
    <div class="success">
        <span id="successmessage">Form Submitted Successfully</span>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>

<style scoped>
#successmessage {
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
.success {
    background-color: #575454;
    text-align:center;
    position: fixed;
    height: 19px;
    padding: 12px 5px;
    border-radius: 10px;
    bottom:2%;
    left:10%;
    animation: up 5s ease forwards;
}
@keyframes up {
    0%{opacity: 0}
    50%{ transform: translateY(-50px); opacity: 1;}
    100%{ transform: translateY(0px); opacity: 0;}
}
@media only screen and (min-width:320px){
    .success {
    width:51%;
    padding: 12px 5px;
    }
}
@media only screen and (min-width:768px){
    .success {
    width:22%;
    padding: 12px 5px;
    }
}
@media only screen and (min-width:1024px){
    .success {
    width:16%;
    padding: 12px 5px;
    }
}
@media only screen and (min-width:1200px){
    .success {
    width:13%;
    padding: 12px 5px;
    }
}
</style>
