<template>
    <div class="column">
        <div class="logo-vdrm">
            <img :src="vdrm" alt="test" />
        </div>
        <div class="vdrmpoints">
            <ul id="pink">
                <li v-for="(pink, index) in pinks" :key="index">{{ pink }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props:['pinks'],
    data(){
        return {
            vdrm:require("@/assets/Images/Compvdrmnewlogo.png")
        }
    }
}
</script>

<style scoped>
ul {
    list-style: none;
}
#pink li::before {
  content: "\2022";
  color:#b33d8b;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size: large;
}
li {
    font-size:14px;
    letter-spacing: 0.5px;
    line-height:33px;
    display:flex;
}
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .column {
       padding-left: 0%; 
    }
    .logo-vdrm {
    width: 44%;
    padding-left:0px;
    margin:0 auto;
    }
}
@media only screen and (min-width: 768px){
    .column {
       padding-left: 0%; 
    }
    .logo-vdrm {
    width: 33%;
    padding-left:0px;
    margin:0 auto;
    }
}
@media only screen and (min-width: 1024px){
    .column {
       padding-left: 0%; 
    }
    .logo-vdrm {
    width: 44%;
    padding-left:32px;
    margin:0;
    }
}
@media only screen and (min-width: 1200px){
    .column {
       padding-left: 0%; 
    }
    .logo-vdrm {
    width: 44%;
    padding-left:32px;
    margin:0;
    }
}
</style>
