<template>
    <div class="image-vdrm">
        <img :src="main" alt="test" />
    </div>
</template>

<script>
export default {
    data(){
        return {
            main:require('@/assets/Images/Vdrm.png'),
            placeholder: require('@/assets/Images/Vapps.png')
        }
    }
}
</script>

<style scoped>
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .image-vdrm {
        width: 97%;
        padding-top: 65px;
    }
}
@media only screen and (min-width: 768px){
    .image-vdrm {
        width: 97%;
        padding-top: 65px;
    }
}
@media only screen and (min-width: 1024px){
    .image-vdrm {
        width: 53%;
        padding-top: 105px;
    }
}
@media only screen and (min-width: 1200px){
    .image-vdrm {
        width: 53%;
        padding-top: 68px;
    }
}
</style>

