<template>
<div class="gradient">
    <div class="vdrm">
        <listItem :pinks="pinks"></listItem>
        <productImage></productImage>
    </div>
</div>
</template>

<script>
import productImage from './productImage'
import listItem from './listItem'
export default {
    data(){
        return {
            pinks:''
        }
    },
    created(){      
        this.pinks = window.config.Products[4]
    },
    components:{
        'listItem': listItem,
        'productImage': productImage
    }
}
</script>

<style scoped>
.gradient {
    background-image: linear-gradient(#F8FAFC);
}
.vdrm {
    width:80%;
    margin:0 auto;
    padding:70px 0;
    max-width:1500px;
}
@media only screen and (min-width: 320px){
    .vdrm {
        display:block;
    }
}
@media only screen and (min-width: 768px){
    .vdrm {
        display:block;
    }
}
@media only screen and (min-width: 1024px){
    .vdrm {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px){
    .vdrm {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
</style>