<template>
    <div class="column">
        <div class="logo-vpremiere">
            <img :src="vprem" alt="test" />
        </div>
        <div class="vpremierepoints">
            <ul id="red">
                <li v-for="(red, index) in reds" :key="index">{{ red }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props:['reds'],
    data(){
        return {
            vprem:require("@/assets/Images/CompVpremierenewlogo.png")
        }
    }
}
</script>

<style scoped>
ul {
    list-style: none;
}
#red li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size:large;
}
li {
    font-size:14px;
    letter-spacing: 0.5px;
    line-height:33px;
    display:flex;
}
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .logo-vpremiere {
        width: 50%;
        padding-left: 0px;
        margin:0 auto;
    }
    .column {
        padding-left: 6px;
    }
}
@media only screen and (min-width: 768px){
    .logo-vpremiere {
        width: 37%;
        padding-left: 0px;
        margin:0 auto;
    }
    .column {
        padding-left: 6px;
    }
}
@media only screen and (min-width: 1024px){
    .logo-vpremiere {
        width: 46%;
        padding-left: 25px;
        margin:0;
    }
    .column {
        padding-left: 6px;
    }
}
@media only screen and (min-width: 1200px){
    .logo-vpremiere {
        width: 46%;
        padding-left: 25px;
        margin:0;
    }
    .column {
        padding-left: 13px;
    }
}
</style>
