<template>
    <div class="image-vpremiere">
        <img :src="main" alt="test" />
    </div>
</template>

<script>
export default {
    data(){
        return {
            main:require('@/assets/Images/VP.png'),
        }
    }
}
</script>

<style scoped>
img {
    width:100%;
}
@media only screen and (min-width: 320px){
    .image-vpremiere {
    width:100%;
    }
}
@media only screen and (min-width: 768px){
    .image-vpremiere {
    width:100%;
    }
}
@media only screen and (min-width: 1024px){
    .image-vpremiere {
    width:47%;
    }
}
@media only screen and (min-width: 1200px){
    .image-vpremiere {
    width:47%;
    position: relative;
    top: -17px;
    }
}
</style>

