<template>
    <div class="vprem">
        <productImage></productImage>
        <listItem :reds="reds"></listItem>
    </div>
</template>

<script>
import productImage from './productImage'
import listItem from './listItem'
export default {
    data(){
        return {
            reds:''
        }
    },
    created(){
        // this.reds = window.config.products.red
        this.reds = window.config.Products[2]
    },
    components:{
        'listItem': listItem,
        'productImage': productImage
    }
}
</script>

<style scoped>
.vprem {
    width:80%;
    margin:0 auto;
    padding:70px 0;
    max-width:1500px;
}
@media only screen and (min-width: 320px){
    .vprem {
        display:block;
    }
}
@media only screen and (min-width: 768px){
    .vprem {
        display:block;
    }
}
@media only screen and (min-width: 1024px){
    .vprem {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 1200px){
    .vprem {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
</style>
