@font-face {
    font-family: NotoSansLight;
    src: url("./Fonts/NotoSans-Light.ttf");
  }
h1, h2 {
    font-family: 'Noto Sans', sans-serif;
}
h3,p,a,button,li, ul li {
    font-family: NotoSansLight;
}
