<template>
  <div id="app" @click="closeLists($event)">
    <router-view></router-view>
    <DemoRequest v-if="showForm"></DemoRequest>
    <ResumeSubmit v-if="showResumeForm"></ResumeSubmit>
    <SuccessMessage v-if="showsuccessmessage"></SuccessMessage>
  </div>
</template>

<script>
import { eventBus } from '@/main'
import config from './store/config.json'

console.log(config)
window.config = config

export default {
  name: 'app',
  data () {
    return {
      showForm: false,
      showResumeForm: false,
      showsuccessmessage: false,
      url:require('./store/config.json')
    }
  },
  components: {
    'mbt': () => import('./components/mbt.vue'),
    'Products': () => import('./components/ProductPage/AllProducts.vue'),
    'AllTeam': () => import('./components/TeamPage/AllTeam.vue'),
    'DemoRequest': () => import('./components/PopUps/DemoRequest.vue'),
    'ResumeSubmit': () => import('./components/PopUps/ResumeSubmit.vue'),
    'SuccessMessage': () => import('./components/SuccessMessage.vue')
  },
  methods: {
    closeLists(event){
      console.log("two", event.target.id);
      if (event.target.id !== "nav-icon")
        eventBus.$emit("closeitems", false);      
    },
    configSetupDom(id, state, value) {
      if(document.getElementById(id) && state && value) {
          document.getElementById(id).style.zIndex = value
      } 
    },
    configCallPopup(id, state, dataset){
      if(document.getElementById(id) && state && dataset) {
        document.getElementById(id).style.overflow = dataset
      }
    },
    resumepopup(state){
      console.log("app.vue || handleresume", state, eventBus)

      this.configCallPopup('body', state, 'hidden');
      this.configCallPopup('body', !state, 'auto');

      // if(document.getElementById('body') && state) {
      //   document.getElementById('body').style.overflow = 'hidden'
      // } else if(document.getElementById('body') && !state){
      //   document.getElementById('body').style.overflow = 'auto'
      // }

      this.configSetupDom('nav', state, '1');
      this.configSetupDom('nav', !state, '1000');

      // if(document.getElementById('nav') && state) {
      //     document.getElementById('nav').style.zIndex = '1'
      // } else if(document.getElementById('nav') && !state) {
      //   document.getElementById('nav').style.zIndex = '1000'
      // }

      if(document.getElementById('nav') && state) {
          document.getElementById('nav').style.transition = '0s'
      } else if(document.getElementById('nav') && !state) {
        document.getElementById('nav').style.transition = '0.5s'
      }

      this.configCallPopup('TeamPage', state, 'hidden');
      this.configCallPopup('TeamPage', !state, 'auto');

      // if(document.getElementById('TeamPage') && data) {
      //   document.getElementById('TeamPage').style.overflow = 'hidden'
      // } else if(document.getElementById('TeamPage') && !data) {
      //   document.getElementById('TeamPage').style.overflow = 'auto'
      // }
      this.configSetupDom('nav', state, '1');
      this.configSetupDom('nav', !state, '1000');

      // if(document.getElementById('Navbar') && data) {
      //     document.getElementById('Navbar').style.zIndex = '1'
      // } else if(document.getElementById('Navbar') && !data) {
      //   document.getElementById('Navbar').style.zIndex = '1000'
      // }
      this.showResumeForm = state
    },
    successpopup(data){
      this.showsuccessmessage = data
    },
    handlepopup(state) {
      console.log("app.vue || handle", state, eventBus)
      if(document.getElementById('nav') && state) {
        document.getElementById('nav').style.transition = '0s'
      } else if(document.getElementById('nav') && !state) {
        document.getElementById('nav').style.transition = '0.5s'
      }
      this.configSetupDom('Navbar', state, '0');
      this.configSetupDom('Navbar', !state, '1000');


      // if(document.getElementById('Navbar') && state) {
      //     document.getElementById('Navbar').style.zIndex = '0'
      // } else if(document.getElementById('Navbar') && !state) {
      //     document.getElementById('Navbar').style.zIndex = '1000'
      // }

        this.configSetupDom('Nav', state, '1');
        this.configSetupDom('Nav', !state, '1000');
      

      // if(document.getElementById('Nav') && state) {
      //     document.getElementById('Nav').style.zIndex = '1'
      // } else if(document.getElementById('Nav') && !state) {
      //     document.getElementById('Nav').style.zIndex = '1000'
      // }
        this.configSetupDom('nav', state, '1');
        this.configSetupDom('nav', !state, '1000');

      
      // if(document.getElementById('nav') && state) {
      //     document.getElementById('nav').style.zIndex = '1'
      // } else if(document.getElementById('nav') && !state) {
      //   document.getElementById('nav').style.zIndex = '1000'
      // }
      
      // this.configSetupDom('body', state, undefined, 'hidden');
      //   this.configSetupDom('body', !state, undefined, 'auto');

      // this.configSetupDom('products', state, undefined, 'hidden');
      //   this.configSetupDom('products', !state, undefined, 'auto');

      // this.configSetupDom('TeamPage', state, undefined, 'hidden');
      //   this.configSetupDom('TeamPage', !state, undefined, 'auto');
        this.configCallPopup('body', state, 'hidden');
        this.configCallPopup('body', !state, 'auto');
      // if(document.getElementById('body') && state) {
      //   document.getElementById('body').style.overflow = 'hidden'
      // } else if(document.getElementById('body') && !state){
      //   document.getElementById('body').style.overflow = 'auto'
      // }
        this.configCallPopup('products', state, 'hidden');
        this.configCallPopup('products', !state, 'auto');

      // if(document.getElementById('products') && state) {
      //   document.getElementById('products').style.overflow = 'hidden'
      // } else if(document.getElementById('products') && !state) {
      //   document.getElementById('products').style.overflow = 'auto'
      // }
        this.configCallPopup('TeamPage', state, 'hidden');
        this.configCallPopup('TeamPage', !state, 'auto');
        
      // if(document.getElementById('TeamPage') && state) {
      //   document.getElementById('TeamPage').style.overflow = 'hidden'
      // } else if(document.getElementById('TeamPage') && !state) {
      //   document.getElementById('TeamPage').style.overflow = 'auto'
      // }
      this.showForm = state;
    }
  },
  created(){
      console.log("app.vue || handle", eventBus)

    eventBus.$on('handle-popup-event', this.handlepopup)
    eventBus.$on('handle-resume-event', this.resumepopup)
    eventBus.$on('success-message', this.successpopup)
  }
}
</script>

<style>
#app {
  position:relative;
}
#successmessage {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}
</style>
